body {
    zoom: 85%;
    }
    

#title {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: bold;
    background-color: #E8FFCA;
    height: 80px;
    padding: 2%;
    margin: 0;
}
#submit-btn {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: #FDFF9C;
    padding: 15px; 
    width: 5%;
    margin-right: 50px;
    float: right;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px black;
    background-color: #FDFF9C;
  }
#dashboard-btn {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: #FDFF9C;
    padding: 15px; 
    width: 9%;
    margin-right: 50px;
    float: right;
}


#dashboard-container {
    width: 100%;
    background-color: #93FF8A;
    margin: auto;
    height: 2200px;
    margin: 5px black;
    border: 5px black;
}

#form-container {
    width: 100%;
    background-color: #93FF8A;
    margin: auto;
    height: 2100px;
    margin: 5px black;
    border: 5px black;
    vertical-align: middle;
    text-align: center;
}

#earn-loss-container {
    width: 50%;
    background-color: transparent;
    height: 2100px;
    float: left;
    margin: 0px;
    margin: 5px black;
    border: 5px black;
}

#earn-container {
    font-family: 'Montserrat', sans-serif;
    width: 92%;
    background-color: purple;
    height: 1100px;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 15px; 
    background-color: #FDFF9C;
}
#loss-container {
    font-family: 'Montserrat', sans-serif;
    width: 94%;

    height: 100px;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;

    border-radius: 25px;
    border: 2px solid black;
    padding: 15px; 
    background-color: #FFA895;
}

#loss-container:hover {
    width: 94%;
    background-color: #FF4545;
    height: 700px;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

#highlights-container {

    width: 46%;
      border-radius: 25px;
    border: px solid red;
    padding: 1px; 

    background-color: transparent;
    height: 1400px;
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
#wins-container#win-img{

    width: 18%;
    background-color: transparent;
    height: 160px;
    float: left;
    margin: 17px 0 0 16px;
    
}


.pie {
    margin-left: 50px;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
   
  }


#pie-text{

    background-color: transparent;
    width: 60%;
    margin-left: 0px;
    float: right;
}

#wins-container {
    font-family: 'Montserrat', sans-serif;
    width: 46%;
      border-radius: 25px;
    border: 2px solid black;
    padding: 15px; 
    margin-left: 10px;
    background-color: #E8FFCA;
    width: 80%;
    margin-bottom: 25px;
    margin-top: 25px;
    float: left;
}

#forms-container {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
      border-radius: 25px;
    border: 2px solid black;
    padding: 15px; 
    margin-left: 250px;
    background-color: #E8FFCA;
    width: 80%;
    margin-bottom: 25px;
    margin-top: 25px;
    float: left;
}


#earn-text{
    opacity: 80%;
    border-radius: 25px;
    border: 2px solid black;
    padding: 15px; 
    background-color: #FDFF9C;
    width: 70%;
    margin-left: 10px;
    float: right;
}



#form-text{
    opacity: 80%;
    float: right;
    border-radius: 25px;
    border: 2px solid black;
    padding: px; 
    opacity: 80%;
    width: 20%;
    background-color: #FDFF9C;
    height: 50px;
}
#form-entry{
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5px; 
    opacity: 80%;
    width: 20%;
    background-color: #FDFF9C;
    height: 50px;
}


#midearn-container {
    background-color: thistle;
    width: 80%;
    margin-bottom: 25px;
    margin-top: 25px;
    float: left;
}

#earn-img3{
    opacity: 80%;
    width: 18%;
    background-color: transparent;
    height: 160px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
#botearn-container {
    background-color: thistle;
    width: 80%;
    margin-bottom: 25px;
    margin-top: 25px;
    float: left;
}


#subtitle {
    float: left;
    width: 100%;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

#subtitle1 {
    float: left;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #E8FFCA;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    vertical-align: middle;

}

#subtitle2 {

    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    margin-left: 600px;
    margin-right: 500px;
    

}

#subtitle:hover {
    animation-name: jump;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    
}
@keyframes jump {
    0% {transform: translate(0px, 0px) rotate(0deg);}
    20% {transform: translate(0px, 5px) rotate(0deg);}
    40% {transform: translate(0px, 10px) rotate(0deg);}
    50% {transform: translate(0px, 15px) rotate(0deg);}
    60% {transform: translate(0px, 10px) rotate(0deg);}
    80% {transform: translate(0px, 5px) rotate(0deg);}
    100% {transform: translate(0px, 0px) rotate(0deg);}
}
#wins-container :hover {
    animation:  jiggle 0.6s linear infinite;
    opacity: 100%;
  }
  
  @keyframes jiggle {
    0% { transform: translate(0px, 0px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(0deg); }
    20% { transform: translate(-1px, -1px) rotate(-1deg); }
    30% { transform: translate(-2px, -2px) rotate(-1deg); }
    40% { transform: translate(-1px, -1px) rotate(-1deg); }
    50% { transform: translate(0px, 0px) rotate(0deg); }
    60% { transform: translate(1px, -1px) rotate(0deg); }
    70% { transform: translate(1px, -1px) rotate(1deg); }
    80% { transform: translate(2px, -2px) rotate(1deg); }
    90% { transform: translate(1px, -1px) rotate(1deg); }
    100% { transform: translate(0px, 0px) rotate(0deg); }
  }

#loss-btn {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 94%;

    height: 100px;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;

    border-radius: 25px;
    border: 2px solid black;
    padding: 15px; 
    background-color: #FFA895;
  }

  
#loss-btn:hover {
    cursor: pointer;
   background-color: #FF4545;
  }

#loss-text{
    font-family: 'Montserrat', sans-serif;
    opacity: 80%;
    border-radius: 25px;
    border: 2px solid black;
    padding: 15px; 
    background-color: #FFA895;
    width: 70%;
    margin-left: 20px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}


#loss-img3{
    opacity: 80%;
    width: 18%;
    background-color: transparent;
    height: 200px;
    float: left;
    margin-left: 15px;
    margin-top: 30px;
    margin-top: 30px;
}

.hide {
	display: none;
}

.show {
	display: block;
}
  
#sub-btn {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 94%;

    height: 100px;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;

    border-radius: 25px;
    border: 2px solid black;
    padding: 15px; 
    background-color: green;
    box-shadow: 0 10px grey;
}
#sub-btn:active {
    transform: translateY(4px);
    box-shadow: 0 5px black;
}


  #input {
    font-family: 'Montserrat', sans-serif;
  }